*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0px .5rem;
}

nav>a{
    margin-right: 1rem;
    text-decoration: none;
    color: gray;
}

nav>a:hover{
    color: #dc3545;
    text-decoration: underline;
}

.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('public/images/bg-image.png');
    background-repeat: no-repeat;
}

.search-tutorial{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid gray;
    min-width: 20rem;
}

.subscription{
    padding: .5rem 0px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}


.arrow-btn:hover{
    margin-left: .5rem;
    transition: .1s ease-in-out;
}


/* for screens less than 578px */
@media (max-width: 578px) {
    h1{
        font-size: 2rem !important; 
    }

    p{
        font-size: .8rem !important;
    }

    .search-bar{
        margin: 0 3rem;
    }

    .content{
        background-position: center;
        background-size: cover;
    }

    .footer-hor{
        display: block !important;
    }

    .footer-hor > *{
        padding-bottom: 3rem;
    }
    
}